# booleans

In [1]:
0 or 1

1

In [12]:
#in boolean write first letter in capital
int(True)

1

In [13]:
#only zero,none and blank text in  boolean is false rather all numbers are true
int(False)

0

In [5]:
bool(5)

True

In [6]:
bool(-7)

True

In [8]:
bool(5/7)

True

In [9]:
bool()

False

In [11]:
bool(None)

False

In [17]:
#blank list also false
bool([])

False

In [18]:
#blank tuple also false
bool(())

False

In [19]:
#blank dictonary also false
bool({})

False

In [20]:
bool({7})

True

# comparison operators

In [39]:
5>10

False

In [40]:
10>5

True

In [51]:
age=20

In [42]:
age==18

False

In [49]:
#error because you have to use two equal sign(=assign value,==equal to condition)
5=5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (980191137.py, line 2)

In [46]:
5==5

True

In [52]:
age>=18

True

In [53]:
age<=18

False

In [54]:
#not eqal to
age!=19

True

In [55]:
age!=20

False

In [56]:
age>18

True

# if elif else

In [34]:
age=12

In [37]:
#indentation=four space before print
if age>18:
    print("welcome")
else:
    print("bye")

bye

In [57]:
age>18

True

In [58]:
if age>18:
    print('welcome')

welcome

In [59]:
if True:
    print('welcome')

welcome

In [63]:
marks=35

In [64]:
if marks>=90:
    print("A")
elif marks>=75:
    print("B")
elif marks>=60:
    print("C")
elif marks>=40:
    print("D")
else:
    print("Fail")

Fail

In [65]:
marks=64

In [66]:
if marks>=90:
    print("A")
elif marks>=75:
    print("B")
elif marks>=60:
    print("C")
elif marks>=40:
    print("D")
else:
    print("Fail")

C

In [68]:
if True:
    print('Hello')
elif False:
    print ('hi')
else:
    print('bye')

Hello

In [71]:
if False:
    print('Hello')
elif False:
    print ('hi')
else:
    print('bye')

bye

In [72]:
if False:
    print('Hello')
elif True:
    print ('hi')
else:
    print('bye')

hi

In [3]:
#que.1)positive number or negative

In [9]:
n=0
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

zero

In [10]:
n=5
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

positive

In [11]:
n=-9
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

negative

In [20]:
#indent(4spaces or a tab) if indent not equal than it cause error there can be 1 space 2,3 or so on but spacing must be same in whole input
n=10
m=15

if m>n:
    print("hello")
 print("hi")

IndentationError: unindent does not match any outer indentation level (<string>, line 7)

In [18]:
n=10
m=15

if m>n:
  print("hello")
  print("hi")

hello
hi

In [22]:
#jo cheej indent kai andr hai bas vo chalaigi, here m>n is not true therefore it don't work hi is out of indent therefore it gives output 
n=10
m=5

if m>n:
  print("hello")
print("hi")

hi

In [23]:
n=10
m=5

if m>n:
  print("hello")
else:
    print("bye")
print("hi")

bye
hi

In [25]:
#if and else work together we can't add another print between them
n=10
m=5

if m>n:
  print("hello")
print("hi")
else:
    print("bye")

SyntaxError: invalid syntax (3270537336.py, line 8)

In [33]:
m=10
n=20
o=30

if o> n:
    print("hi")
elif o> m:
    print("hello")
else:
    print("bye")

hi

In [31]:
m=10
n=20
o=15

if o> n:
    print("hi")
elif o> m:
    print("hello")
else:
    print("bye")

hello

In [32]:
#both if are independent
m=10
n=20
o=30

if o> n:
    print("hi")
if o> m:
    print("hello")

hi
hello

In [34]:
28%7

0

In [35]:
if 28%7 ==0:
    print("division")

division

In [36]:
if 28%2 ==0:
    print("division")

division

In [37]:
if 28%7 ==0:
    print("even")

even

In [38]:
22%2 == 0

True

In [40]:
n=15
if n%2 ==0:
    print("even")
else:
    print("odd")

odd

In [41]:
n=int(input())
if n%2 ==0:
    print("even")
else:
    print("odd")

 21

odd

In [42]:
n=int(input())
if n%2 ==0:
    print("even")
else:
    print("odd")

 42

even

In [43]:
if 0:
    print('hi')
if 5:
    print("hello")

hello

In [44]:
n

42

In [45]:
if n%2:
    print("odd")
else:
    print("even")

even

In [46]:
n=31

In [47]:
n

31

In [48]:
if n%2:
    print("odd")
else:
    print("even")

odd

In [53]:
n=19
m=20
o=21

In [54]:
n%3

1

In [55]:
m%3

2

In [56]:
o%3

0

In [57]:
if n%3:
    print("not divisible")

not divisible

In [62]:
if m%3:#output will be not zero therefore not divisble and true in bool expect zero all are true numbers
    print("not divisible")

not divisible

In [60]:
if o%3: #output will be zero therefore divisble and false in bool expect zero all are true numbers
    print("not divisible")
else:
    print('divisible')

divisible

In [63]:
if n%2 ==0:
    print("divisible by 2")
else:
    print("not divisible by 2")

not divisible by 2

# Nested

In [89]:
#nested=one inside another
#2,3,4
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2")
else:
    print("not divisible by 2")

not divisible by 2

In [90]:
n

21

In [74]:
n=20

In [76]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2")
else:
    print("not divisible by 2")

divisible by 2

In [77]:
n=12

In [78]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2")
else:
    print("not divisible by 2")

divisible by 2 and 3

In [80]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 2 and 3

In [81]:
n=19

In [82]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

not divisible by 2 and3

In [83]:
n=22

In [84]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 2 not 3

In [85]:
n=21

In [91]:
if n%2 == 0:
   if n%3 == 0: #4 spaces
    print("divisible by 2 and 3") #8 spaces
   else: #4 spaces (this else is indent of 3 therefore have 4 spaces)
     print("divisible by 2 not 3") #8 spaces after 8 then 12 then 16 etc.
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 3 but not 2

In [92]:
#combination of 2,3,5
n=4

In [93]:
if n%2 == 0:
    print("divisible by 2")
else:
    print('not divisible by 2')

divisible by 2

In [94]:
n=6

In [95]:
if n%2 == 0:
    if n%3 == 0:
        print("divisible by 2 and 3")
    else:
        print("divisible by 2 but not 3")
elif n% 3:
    print("divisible by 3 but not 2")
else:
    print('not divisible by 2 and 3')

divisible by 2 and 3

In [96]:
n=30

In [102]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2,3 but not 5")
    elif n% 5:
        
        print("divisible by 2 but not by 5 and 3")
    else:
        print('not divisible by 2 and 3')

divisible by 2,3,5

In [103]:
n=15

In [105]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2,3 but not 5")
    elif n% 5:
        
        print("divisible by 2 but not by 5 and 3")
    else:
        print('not divisible by 2 and 3')

In [109]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2and 3 not 5")
    elif n% 5:
        print("divisible by 2 not 3 and 5")
elif n%3 == 0:
    if n% 5 == 0:
        print('divisible by 3 and 5')
    else:
        print('divisible by 3')
elif n%5 ==0:
    print("divisible by 5")
else:
    print("not divisible by any number")

divisible by 3 and 5

In [118]:
age=40
city="delhi"

In [111]:
if city =="delhi":
    print("welcome to delhi")

welcome to delhi

In [112]:
city="chd"

In [113]:
if city =="delhi":
    print("welcome to delhi")
elif city =="chd":
    print("welcome to chd")

welcome to chd

In [114]:
city="agra"

In [116]:
if city =="delhi":
    print("welcome to delhi")
elif city =="chd":
    print("welcome to chd")
else:
    print("where are you?")

where are you?

In [119]:
if city =="delhi":
    if age<30:
        print("welcome to delhi young man")
    else:
        print("meet me outside")
elif city =="chd":
    print("welcome to chd")
else:
    print("where are you?")

meet me outside

In [127]:
age=40
city="chd"

In [128]:
if city =="delhi":
    if age<30:
        print("welcome to delhi young man")
    else:
        print("meet me outside")
elif city =="chd":
    if age >50:
        print("welcome to chd")
    else:
        print("welcome to chd retirement")
else:
    print("where are you?")

welcome to chd retirement