# booleans

In [1]:
0 or 1

1

In [12]:
#in boolean write first letter in capital
int(True)

1

In [13]:
#only zero,none and blank text in  boolean is false rather all numbers are true
int(False)

0

In [5]:
bool(5)

True

In [6]:
bool(-7)

True

In [8]:
bool(5/7)

True

In [9]:
bool()

False

In [11]:
bool(None)

False

In [17]:
#blank list also false
bool([])

False

In [18]:
#blank tuple also false
bool(())

False

In [19]:
#blank dictonary also false
bool({})

False

In [20]:
bool({7})

True

# comparison operators

In [39]:
5>10

False

In [40]:
10>5

True

In [51]:
age=20

In [42]:
age==18

False

In [49]:
#error because you have to use two equal sign(=assign value,==equal to condition)
5=5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (980191137.py, line 2)

In [46]:
5==5

True

In [52]:
age>=18

True

In [53]:
age<=18

False

In [54]:
#not eqal to
age!=19

True

In [55]:
age!=20

False

In [56]:
age>18

True

# if elif else

In [34]:
age=12

In [37]:
#indentation=four space before print
if age>18:
    print("welcome")
else:
    print("bye")

bye

In [57]:
age>18

True

In [58]:
if age>18:
    print('welcome')

welcome

In [59]:
if True:
    print('welcome')

welcome

In [63]:
marks=35

In [64]:
if marks>=90:
    print("A")
elif marks>=75:
    print("B")
elif marks>=60:
    print("C")
elif marks>=40:
    print("D")
else:
    print("Fail")

Fail

In [65]:
marks=64

In [66]:
if marks>=90:
    print("A")
elif marks>=75:
    print("B")
elif marks>=60:
    print("C")
elif marks>=40:
    print("D")
else:
    print("Fail")

C

In [68]:
if True:
    print('Hello')
elif False:
    print ('hi')
else:
    print('bye')

Hello

In [71]:
if False:
    print('Hello')
elif False:
    print ('hi')
else:
    print('bye')

bye

In [72]:
if False:
    print('Hello')
elif True:
    print ('hi')
else:
    print('bye')

hi

In [3]:
#que.1)positive number or negative

In [9]:
n=0
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

zero

In [10]:
n=5
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

positive

In [11]:
n=-9
if n> 0:
 print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

negative

In [20]:
#indent(4spaces or a tab) if indent not equal than it cause error there can be 1 space 2,3 or so on but spacing must be same in whole input
n=10
m=15

if m>n:
    print("hello")
 print("hi")

IndentationError: unindent does not match any outer indentation level (<string>, line 7)

In [18]:
n=10
m=15

if m>n:
  print("hello")
  print("hi")

hello
hi

In [22]:
#jo cheej indent kai andr hai bas vo chalaigi, here m>n is not true therefore it don't work hi is out of indent therefore it gives output 
n=10
m=5

if m>n:
  print("hello")
print("hi")

hi

In [23]:
n=10
m=5

if m>n:
  print("hello")
else:
    print("bye")
print("hi")

bye
hi

In [25]:
#if and else work together we can't add another print between them
n=10
m=5

if m>n:
  print("hello")
print("hi")
else:
    print("bye")

SyntaxError: invalid syntax (3270537336.py, line 8)

In [33]:
m=10
n=20
o=30

if o> n:
    print("hi")
elif o> m:
    print("hello")
else:
    print("bye")

hi

In [31]:
m=10
n=20
o=15

if o> n:
    print("hi")
elif o> m:
    print("hello")
else:
    print("bye")

hello

In [32]:
#both if are independent
m=10
n=20
o=30

if o> n:
    print("hi")
if o> m:
    print("hello")

hi
hello

In [34]:
28%7

0

In [8]:
if 22%7==1 :
    print("division")

division

In [36]:
if 28%2 ==0:
    print("division")

division

In [37]:
if 28%7 ==0:
    print("even")

even

In [38]:
22%2 == 0

True

In [40]:
n=15
if n%2 ==0:
    print("even")
else:
    print("odd")

odd

In [41]:
n=int(input())
if n%2 ==0:
    print("even")
else:
    print("odd")

 21

odd

In [42]:
n=int(input())
if n%2 ==0:
    print("even")
else:
    print("odd")

 42

even

In [43]:
if 0:
    print('hi')
if 5:
    print("hello")

hello

In [44]:
n

42

In [45]:
if n%2:
    print("odd")
else:
    print("even")

even

In [46]:
n=31

In [47]:
n

31

In [48]:
if n%2:
    print("odd")
else:
    print("even")

odd

In [53]:
n=19
m=20
o=21

In [54]:
n%3

1

In [55]:
m%3

2

In [56]:
o%3

0

In [57]:
if n%3:
    print("not divisible")

not divisible

In [62]:
if m%3:#output will be not zero therefore not divisble and true in bool expect zero all are true numbers
    print("not divisible")

not divisible

In [60]:
if o%3: #output will be zero therefore divisble and false in bool expect zero all are true numbers
    print("not divisible")
else:
    print('divisible')

divisible

In [63]:
if n%2 ==0:
    print("divisible by 2")
else:
    print("not divisible by 2")

not divisible by 2

# Nested

In [11]:
n=19

In [14]:
#nested=one inside another
#2,3,4
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2 not 3")
else:
    print("divisible by 3 not by 2")

divisible by 3 not by 2

In [90]:
n

21

In [74]:
n=20

In [76]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2")
else:
    print("not divisible by 2")

divisible by 2

In [77]:
n=12

In [78]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
    print("divisible by 2")
else:
    print("not divisible by 2")

divisible by 2 and 3

In [80]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 2 and 3

In [81]:
n=19

In [82]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

not divisible by 2 and3

In [83]:
n=22

In [84]:
if n%2 == 0:
    # divisible by 2
   if n%3 == 0:
    # divisible by 3
    print("divisible by 2 and 3")
   else:
     print("divisible by 2 not 3")
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 2 not 3

In [85]:
n=21

In [91]:
if n%2 == 0:
   if n%3 == 0: #4 spaces
    print("divisible by 2 and 3") #8 spaces
   else: #4 spaces (this else is indent of 3 therefore have 4 spaces)
     print("divisible by 2 not 3") #8 spaces after 8 then 12 then 16 etc.
elif n%3 ==0:
    print('divisible by 3 but not 2')
else:
    print("not divisible by 2 and3")

divisible by 3 but not 2

In [92]:
#combination of 2,3,5
n=4

In [93]:
if n%2 == 0:
    print("divisible by 2")
else:
    print('not divisible by 2')

divisible by 2

In [15]:
n=7

In [17]:
if n%2 == 0:
    if n%3 == 0:
        print("divisible by 2 and 3")
    else:
        print("divisible by 2 but not 3")
elif n% 3==0:
    print("divisible by 3 but not 2")
else:
    print('not divisible by 2 and 3')

not divisible by 2 and 3

In [30]:
n=30

In [31]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2,3 but not 5")
    elif n% 5==0:    
        print("divisible by 2 and 5 not 3")
    else:
        print('divisible by 2 not 3 and 5')
elif n%3 == 0:
    if n% 5 == 0:
        print('divisible by 3 and 5')
    else:
        print('divisible by 3')
elif n%5 ==0:
    print("divisible by 5")
else:
    print("not divisible by any number")

divisible by 2,3,5

In [32]:
n=15

In [29]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2,3 but not 5")
    elif n% 5==0: 
        print("divisible by 2 and 5 not 3")
    else:
        print('divisible by 2 not 3 and 5')
elif n%3 == 0:
    if n% 5 == 0:
        print('divisible by 3 and 5')
    else:
        print('divisible by 3')
elif n%5 ==0:
    print("divisible by 5")
else:
    print("not divisible by any number")

divisible by 3 and 5

In [33]:
n=42

In [34]:
if n%2 == 0:
    if n%3 == 0:
        if n%5 == 0:
            print("divisible by 2,3,5")
        else:
            print("divisible by 2and 3 not 5")
    elif n% 5 ==0:
        print("divisible by 2 and 5 not 3")
    else:
        print("divisible by 2 not by 3 and 5")
elif n%3 == 0:
    if n% 5 == 0:
        print('divisible by 3 and 5')
    else:
        print('divisible by 3')
elif n%5 ==0:
    print("divisible by 5")
else:
    print("not divisible by any number")

divisible by 2and 3 not 5

In [118]:
age=40
city="delhi"

In [111]:
if city =="delhi":
    print("welcome to delhi")

welcome to delhi

In [112]:
city="chd"

In [113]:
if city =="delhi":
    print("welcome to delhi")
elif city =="chd":
    print("welcome to chd")

welcome to chd

In [114]:
city="agra"

In [116]:
if city =="delhi":
    print("welcome to delhi")
elif city =="chd":
    print("welcome to chd")
else:
    print("where are you?")

where are you?

In [119]:
if city =="delhi":
    if age<30:
        print("welcome to delhi young man")
    else:
        print("meet me outside")
elif city =="chd":
    print("welcome to chd")
else:
    print("where are you?")

meet me outside

In [1]:
age=40
city="chd"

In [2]:
if city =="delhi":
    if age<30:
        print("welcome to delhi young man")
    else:
        print("meet me outside")
elif city =="chd":
    if age >50:
        print("welcome to chd")
    else:
        print("welcome to chd retirement")
else:
    print("where are you?")

welcome to chd retirement

# logical operations

## NOT

In [1]:
not True

False

In [2]:
if True:
    print("hello")

hello

In [3]:
#not true=false (therefore no output)
if not True:
    print("hello")

In [4]:
if not False:
    print("hello")

hello

In [5]:
name="kanika"
if name:
    print("hi",name)

hi kanika

In [6]:
#blank "" therefore no output
name=""
if name:
    print("hi",name)

In [9]:
first=True
if first:
    print("hi user nice to meet you")
    name=input("enter your name")
else:
    print("name")

hi user nice to meet you

enter your name kanika

In [11]:
name

'kanu'

In [40]:
first=True

In [43]:
#if you first run the upper code first=true then, you will be first person and the code run and output will be enter your name, if you only
#run the below code again ypu will be second person therefore outpu will be hi kanika
if first:
    print("hi user nice to meet you")
    name=input("enter your name")
    first =False
else:
    print("hi",name)

hi kanika

In [28]:
#cards game
count=3

In [14]:
if count:
    print("count")

count

In [17]:
count=0

In [27]:
#count not run on zero
if count:
    print("you are out of game")

you are out of game

In [21]:
if  not count:
    print("you are out of game")

you are out of game

In [22]:
count=3

In [26]:
# not count give output only on zero
if  not count:
    print("you are out of game")

In [24]:
count=2

In [25]:
if  not count:
    print("you are out of game")

##  AND

In [54]:
#example
attendence = 50
marks=50

In [37]:
if attendence <75:
    print("fail")

fail

In [34]:
if marks<35:
    print("fail")

In [35]:
if attendence>75 and marks>35:
    print("pass")
else:
    print("fail")

fail

In [38]:
attendence = 76
marks=50

In [39]:
if attendence>75 and marks>35:
    print("pass")
else:
    print("fail")

pass

In [48]:
#examples
ticket=True
age=20

In [49]:
if age>=18 and ticket:
    print("welcome")
else:
    print("bye")

welcome

In [46]:
ticket=False
age=18

In [47]:
if age>=18 and ticket:
    print("welcome")
else:
    print("bye")

bye

In [50]:
ticket=False
age=18

In [51]:
if age>=18 and not ticket:
    print("welcome")
else:
    print("bye")

welcome

In [52]:
ticket=True
age=20

In [53]:
if age>=18 and not ticket:
    print("welcome")
else:
    print("bye")

bye

In [55]:
True and True

True

In [56]:
False and True

False

In [57]:
False and False

False

## OR

In [58]:
True or True

True

In [59]:
True or False

True

In [60]:
False or False

False

In [62]:
#example
marks=90 #student1
donation=90000 #student2

In [63]:
if marks>80 or donation>80000:
    print("welcome to the school")
else:
    print("no entery")

welcome to the school

In [64]:
marks=50 #student1
donation=90000 #student2

In [65]:
if marks>80 or donation>80000:
    print("welcome to the school")
else:
    print("no entery")

welcome to the school

In [66]:
marks=50 #student1
donation=9000 #student2

In [67]:
if marks>80 or donation>80000:
    print("welcome to the school")
else:
    print("no entery")

no entery

In [68]:
#example
email=True
number=True

In [69]:
if email or number:
    print("welcome user")
else:
    print("login ")

welcome user

In [70]:
email=True
number=False

In [71]:
if email or number:
    print("welcome user")
else:
    print("login ")

welcome user

In [72]:
email=False
number=False

In [94]:
if email or number:
    print("welcome user")
else:
    print("login ")

welcome user

In [74]:
email=True
number=False
password=True

In [92]:
if (email or number) and password:
    print("welcome")
else:
    print("bye")

bye

In [87]:
email=True
number=False
password=False

In [89]:
if (email or number) and password:
    print("welcome")
else:
    print("bye")

bye

In [82]:
email=False
number=False
password=False

In [90]:
if (email or number) and password:
    print("welcome")
else:
    print("bye")

bye

In [85]:
email=False
number=True
password=True

In [91]:
if (email or number) and password:
    print("welcome")
else:
    print("bye")

bye

In [97]:
hindi=50
english=50
maths=50
science=50

In [98]:
if (hindi>35) and (english>35) and (maths>35) and (science>35):
    print("pass")
else:
    print("fail")

pass

In [105]:
hindi= 50
english= 50
maths= 50
science= 30

In [106]:
if (hindi>35) and (english>35) and (maths>35) and (science>35):
    print("pass")
else:
    print("fail")

fail

In [111]:
hindi= 80
english= 80
maths= 70
science= 80

In [112]:
average=(hindi + english + maths + science)//4

In [115]:
average

77

In [116]:
if (hindi>35) and (english>35) and (maths>35) and (science>35):
    print("pass")
    if average >= 75 and (hindi >40 and english >40 and maths >40 and science >40):
        print("distinction")      
else:
    print("fail")

pass
distinction

In [122]:
hindi= 80
english= 60
maths= 70
science= 39

In [123]:
if (hindi>35) and (english>35) and (maths>35) and (science>35):
    print("pass")
    if average >= 75 and (hindi >40 and english >40 and maths >40 and science >40):
        print("distinction")  
    else:
        print("kanika")
else:
    print("fail")

pass
kanika

In [127]:
hindi= 80
english= 60
maths= 70
science= 100

In [144]:
if (hindi>35) and (english>35) and (maths>35) and (science>35):
    print("pass")
    if average >= 75 and (hindi >40) and (english >40) and (maths >40) and (science >40):
        print("distinction")  
    else:
        print("kanika")
    if hindi > 90 or english > 90 or maths > 90 or science > 90:
        print("topper")
else:
    print("fail")

pass
distinction
topper

In [132]:
username="kanika"
password=12345

In [136]:
if username and password:
    if not username == "kanika" or not password==12345:
        print("incorrect input")
    else:
        print("login")
else:
    print("incomplete input")

login

In [137]:
username="kanika"
password=1234

In [146]:
if username and password:
    if not username == "kanika" or not password==12345:
        print("incorrect input")
    else:
        print("login")
else:
    print("incomplete input")

incomplete input

In [141]:
username=""
password=1234

In [142]:
if username and password:
    if not username == "kanika" or not password==12345:
        print("incorrect input")
    else:
        print("login")
else:
    print("incomplete input")

incomplete input

In [149]:
username="kanika"
password=123

In [150]:
if username and password:
    if not username == "kanika" and not password==12345:
        print("incorrect input")
    else:
        print("login")
else:
    print("incomplete input")

login

In [151]:
'k' in "kanika"

True

In [153]:
'k ' in "kanika"

False

In [ ]:
"full-time" "part-time" "unemployeed"

In [154]:
age= 20
income= 50000
credit_score= 350
debts= 5000
employment= "full-time"

In [155]:
if age>=18 and not employment=="unemployment":
    if credit_score>400 and debts <= income*0.3:
        loan=income*12*0.5
        intrest= loan * 0.1
        
        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    elif credit_score >400 and debts >=income*0.3:
        loan = income *12*0.3
        intrest = loan*0.1

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")

    elif credit_score <= 400 and debts <income*0.3:
        loan = income *12*0.5
        intrest = loan*0.12

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    else:
        print("loan rejected")

else:
    print("loan rejected")

loan approved
loan300000.0
intrest 36000.0

In [158]:
age= 20
income= 50000
credit_score= 450
debts= 5000
employment= "part-time"

In [159]:
if age>=18 and not employment=="unemployment":
    if credit_score>400 and debts <= income*0.3:
        loan=income*12*0.5
        intrest= loan * 0.1
        
        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    elif credit_score >400 and debts >=income*0.3:
        loan = income *12*0.3
        intrest = loan*0.1

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")

    elif credit_score <= 400 and debts <income*0.3:
        loan = income *12*0.5
        intrest = loan*0.12

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    else:
        print("loan rejected")

else:
    print("loan rejected")

loan approved
loan300000.0
intrest 30000.0

In [165]:
age= 20
income= 50000
credit_score= 450
debts= 50000
employment= "unemployed"

In [166]:
if age>=18 and not employment=="unemployment":
    if credit_score>400 and debts <= income*0.3:
        loan=income*12*0.5
        intrest= loan * 0.1
        
        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    elif credit_score >400 and debts >=income*0.3:
        loan = income *12*0.3
        intrest = loan*0.1

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")

    elif credit_score <= 400 and debts <income*0.3:
        loan = income *12*0.5
        intrest = loan*0.12

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    else:
        print("loan rejected")

else:
    print("loan rejected")

loan approved
loan180000.0
intrest 18000.0

In [169]:
age= 17
income= 50000
credit_score= 350
debts= 5000
employment= "full-time"

In [170]:
if age>=18 and not employment=="unemployment":
    if credit_score>400 and debts <= income*0.3:
        loan=income*12*0.5
        intrest= loan * 0.1
        
        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    elif credit_score >400 and debts >=income*0.3:
        loan = income *12*0.3
        intrest = loan*0.1

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")

    elif credit_score <= 400 and debts <income*0.3:
        loan = income *12*0.5
        intrest = loan*0.12

        print("loan approved")
        print(f"loan{loan}")
        print(f"intrest {intrest}")
            
    else:
        print("loan rejected")

else:
    print("loan rejected")

loan rejected