In [1]:
i=0
n=5
while i<n:
    print(i)

    i+=1

0
1
2
3
4

In [2]:
i=5
n=0
while i>n:
    print(i)

    i-=1

5
4
3
2
1

In [3]:
i=3

while i:
    print(i)
    i-=1

3
2
1

In [5]:
i=0
n=5
while i<n:
    print(n-i)

    i+=1

5
4
3
2
1

In [6]:
name="kanika"

In [14]:
for alphabet in name: #here alphabet is a variable
    print("hi")

hi
hi
hi
hi
hi
hi

In [12]:
for alphabet in name:
    print(alphabet)

k
a
n
i
k
a

In [10]:
games=["kho-kho","tennis","kabaddi","football"]
for items in games:
    print(items)

kho-kho
tennis
kabaddi
football

In [13]:
course=['kanika','teena','adi','parveen']
for person in course:
    print("hello",person)

hello kanika
hello teena
hello adi
hello parveen

In [15]:
s={8,5,6,2,5}
for i in s :
    print(i)

8
2
5
6

In [20]:
i=0
n=5 
while i<n:
    print(i)
    i+=2

0
2
4

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(3):
    print(i)

0
1
2

In [19]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [21]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [24]:
name='kanika'
for i in range(len(name)):
    print(name[i],i)

k 0
a 1
n 2
i 3
k 4
a 5

In [3]:
# if we don't have any library that we want to use then install it by write the below code and run 
# pip install (name of file like random)

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ranak\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ranak\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ranak\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ranak\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ranak\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ranak\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import random

In [6]:
"random.py"

'random.py'

In [ ]:
# to hack something time and seed should same eg.yu8nfiugrfo2

In [8]:
# random function is very important
random.randint(1,10)

6

In [10]:
li=[]
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [13]:
#we use append to add random numbers in list and while run it again and again we get random number every time
li=[]
for i in range(15):
    num=random.randint(1,10)
    print(num,end=" ")
    li.append(num)

2 1 5 9 7 1 9 1 2 9 4 6 4 2 10

In [12]:
li=[]
for i in range(15):
    num=random.randint(1,10)
    print(num,end=" ")
    li.append(num)
li

9 5 1 8 9 2 7 2 2 10 1 10 4 3 10

[9, 5, 1, 8, 9, 2, 7, 2, 2, 10, 1, 10, 4, 3, 10]

In [16]:
li=[2,3,4,5]
a=[]
for i in li:
    s=i**2
    a.append(s)
print(li)
print(a)
print(s)

[2, 3, 4, 5]
[4, 9, 16, 25]
25

In [18]:
a=[]
for i in range(5):
    a.append(random.randint(1,10))
a

[10, 1, 5, 4, 9]

In [33]:
# list comprehension
a= [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [21]:
a= [i for i in range(5)]
i

4

In [35]:
a= [random.randint(1,10) for i in range(5)]
a

[3, 3, 4, 5, 1]

In [34]:
l= [i**2 for i in range(5)]
print(a)
print(l)

[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16]

In [40]:
b=[a[i]**2 for i in range(len(a))]
print(a)
print(b)

[3, 3, 4, 5, 1]
[9, 9, 16, 25, 1]

In [41]:
print(a)
l=[]
for i in range(len(a)):
    l.append(a[i]**2)
print()

[3, 3, 4, 5, 1]

In [42]:
#tuple unpacking
(a,b)=(5,8)

In [43]:
a

5

In [44]:
b

8

In [45]:
name=["kanika","teena","aditya"]
age=[20,18,10]

In [49]:

li=[]
for i,j in zip(name,age):
    print(i,j)

kanika 20
teena 18
aditya 10

In [54]:
# zip used in dictionanry to add items in it
d={}
for i,j in zip(name,age):
    d[i]=j

In [53]:
d

{'kanika': 20, 'teena': 18, 'aditya': 10}

In [55]:
{i:j for i,j in zip (name,age)}

{'kanika': 20, 'teena': 18, 'aditya': 10}